@media screen and (max-width:1200px) {
    .nav-inner{
        padding: 10px 0;
        justify-content: space-between;
        nav{
            margin-left: 0;
            .navbar{
                .nav-item{
                    &:nth-child(1), &:nth-child(2),&:nth-child(3),
                    &:nth-child(4),&:nth-child(5),&:nth-child(6){
                        padding: 0 5px;
                    }
                    
                }
            }
        }
        &__right{
            .navbar-right{
                margin-left: 0;
            }
        }
    }
    .fact-inner{
        &-description{
            height: auto;
            padding: auto;
            &:nth-child(4){
                padding: auto;
            }
        }
        &__item {
            height: auto;
            img {
                width     : 100%;
                height    : auto;
            }
        }
    }
}

@media screen and (max-width:1024px) {


    .nav-inner nav .navbar .nav-item{
        padding: 0 5px
    }

    .fact-inner {
        grid-template-columns: repeat(2, 1fr);
        &-description {
            padding   : auto;
            &:nth-child(4){
                padding: auto;
            }
            p {
                padding: 0 20px;
            }
        }
    }
    .col-item {
        .column(50%);
        height: auto;
        text-align   : left;
        margin-bottom: 5px;
        .col-inner{
            height: auto;
            .item{
                img{
                    width: 330px;
                    height: 280px;
                }
            }
        }

    }
    .overlay {
        right: 5%;
        button, button:hover{
            width: 50px;
            height: 50px;
        }
    }
    .brand {
        grid-template-columns: repeat(3, 1fr);
        &-item{
            margin-bottom: 10%;
        }
    }
    
}

@media screen and (max-width:768px) {
    .header {
        background-position-x: 80%;
        .nav {
            &-inner {
                &__left {
                    display       : flex;
                    align-items   : center;
                    .nav-icon {
                        display: block;
                        position: absolute;
                        top: 12px;
                        left: 20%;
                    }
                    img {
                        width: 60%;
                    }
                }
                height: 50px;
                nav {

                    .navbar {
                        display: none;
                        width: 100%;
                        position: absolute;
                        top: 70px;
                        left: 0px;
                        background-color: rgba(0, 0, 0, 0.9);
                        .nav-item{
                            display: block;
                            height: 30px;
                            padding: 15px;
                            border-bottom: 1px solid @background-color;
                        }
                    }
                }

            }
        }
    }

    .tab{
        h3{
            font-size: 16px;
        }
    }

    .col-item {
        .col-inner{
            .item{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

    }

    .brand {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .feedback-content {
        h1 {
            font-size: 24px;
        }

        text-align : center;
        padding-top: 16px;

        .title {
            margin-bottom: 10px;
        }
        .slider {
            padding: 0 10%;
            width : 100%;
            margin: 0 auto;
        }
    }


    footer {
        height: auto;
        .footer-head-content {
            padding: 50px;
        }
        .col-footer{
            .column(50%);
            padding: 15px;

        }
    }
}

@media screen and (max-width:576px) {

    .header{
        &-content{
            &__inner{
                width: 100%;
                margin-top: 192px;
                h1{
                    font-size: 30px;
                }
                h2{
                    font-size: 20px;
                }
                p{
                    color: @background-color;
                }
            }
    
        }
    }
    .header .nav-inner .nav-icon{
        left: 30%;
    }
    .header .nav-inner nav .navbar .nav-item {
        height: 20px;
    }
    .fact-inner {
        display: flex;
        transform            : translateY(-100px);
        flex-wrap: wrap;
        &__item {
            width : 100%;
            height: auto;
            img {
                width     : 100%;
                height    : auto;
            }
        }

        &-description {
            padding   : 10px 0;
            h3{
                font-size: 28px;
            }
            p {
                font-size: 20px;
            }
        }
    }
    .tab {
        h3{
            font-size: 14px;
        }
        button{
            padding: 0 5px;
        }
    }
    .col-item {
        .col-inner{
            height: auto;
            .item{
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }

    }

    footer{
        .footer-head{
            height: auto;
        }
    }
}

@media screen and (max-width:375px) {
    .header{
        height: 500px;
        .nav{
            &-inner{
                &__left{
                    .nav-icon{
                        left: 40%;
                    }
                }
                &__right{
                    .navbar-right{
                        &__link {
                            padding: 0 2px;
                        }
                    }
                }
            }
        }
        &-content{
            &__inner{
                margin-top: 100px;
                p{
                    display: none;
                }
            }
    
        }

    }

    .fact-inner {
        &__item {
            width : 100%;
            height: auto;
            img {
                width     : 100%;
                height    : auto;
            }
        }

        &-description {
            padding   : 10px 0;
            h3{
                font-size: 16px;
            }
            p {
                font-size: 12px;
            }
        }
    }
    .tabcontent {
        padding: 20px 0 0 0;
    }

    .col-item {
        .column(100%);
        text-align   : left;
        margin-bottom: 5px;

        .col-inner {
            width : 100%;
            height: auto;

            .item {
                img {
                    width : 120%;
                    height: auto;
                }

                &-des {
                    padding: 15px 30px;

                    p {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .overlay {
        right: 5%;
        button{
            width: 50px;
            height: 50px;
        }
    }

    .feedback-content {
        h1 {
            font-size: 24px;
        }

        text-align : center;
        padding-top: 16px;

        .title {
            margin-bottom: 10px;
        }

        .slider {
            width : 100%;
            margin: 0 auto;
        }
    }

    p.content-feedback,
    p.emotion-feedback {
        margin-bottom: 0;
    }

    .brand {
        grid-template-columns: repeat(2, 1fr);
        padding-top          : 10px;
        margin-bottom        : 10px;
        margin-top           : 50px;
        text-align           : center;

        &-item {
            img {
                width: 80%;
            }
        }
    }

    footer,
    footer .footer-head {
        height: auto;
    }

    footer {
        .footer-head-content {
            padding: 20px 0;

            img {
                width: 50%;
            }

            p {
                margin: 10px 0;
            }
        }
    }

    footer .col-footer {
        .column(100%);
        padding: 15px;

        h3 {
            margin: 5px 0;
        }
        li{
            padding: 5px 0;
        }
    }

    .copy-right {
        padding: 0 15px;
    }

}