.main-content {
    padding: 0 375px;
}

/* Fact */

.row-fact {
    height: 500px;
    display: flex;
    transform: translateY(-20%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.row-fact .col-fact {
    flex: 33%;
    text-align: center;
}
.row-fact .col-fact .img-fact {
    width: 390px;
    height: 250px;
}
.row-fact .col-fact .content-fact {
    height: 150px;
    padding: 50px 30px;
}
.content-fact h3{
    font-size: 18px;
    font-family: PoppinsBold;
    color: rgb(0, 0, 0);
    
}
.content-fact>p{
    font-size: 14px;
    line-height: 1.714;
    color: rgb(119, 119, 119);
    font-family: PoppinsRegular;
}
 
/* End Fact */


/* Top selling */
.tab {
    overflow: hidden;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    font-family: PoppinsBold;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    color: rgb(221, 47, 49);
    border-bottom: 1px solid rgb(221, 47, 49);
}

.tabcontent {
    display: none;
    padding: 25px 0;
    border-top: 1px solid #ccc;
}

.row-item {
    display: flex;
}

.row-item .col-item {
    flex: 25%;
    text-align: left;
}

.row-item .col-item:hover {
    background-color: rgb(255, 255, 255);

}

figure {
    width: 270px;
    height: 330px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    margin: 40px 30px 7px 0px;
}
 
figure>img {
    position: absolute;
    top: 0;
}

figure .overlay {
    position: absolute;
    top: 5px;
    right: 0;
    width: 54px;
    transition: .5s ease;
    opacity: 0;
    color: black;
    font-size: 16px;
    text-align: left;
}

figure .overlay>button {
    border-style: solid;
    border-width: 1px;
    color: rgb(119, 119, 119);
    border-color: rgb(221, 221, 221);
    background-color: rgba(221, 47, 49, 0);
    width: 34px;
    height: 34px;
    margin-top: 15px;
    text-align: center;
}

figure .overlay>button:hover {
    background-color: rgb(221, 47, 49);
    width: 34px;
    height: 34px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
}

figure:hover .overlay {
    opacity: 1;
}

figure>figcaption {
    position: absolute;
    bottom: 0;
    line-height: 1.714;
    text-align: left;
    padding: 33px 30px;
}
p.item-name {
    color: rgb(0, 0, 0);
}

p.price {
    font-family: PoppinsBold;
    color: rgb(0, 0, 0);
}

/* End Top Selling */

/* Slideshow Feedback */
.feedback{
    width: 1170px;
    height: 480px;
    text-align: center;
}
.slider {
    width: 770px;
    margin: 0 auto;
}
.title {

    margin-top: 50px;
    margin-bottom: 47px;
}
.item-feedback>img{
    margin-bottom: 25px;
}
.item-feedback>p{
    font-size: 18px;
}
p.content-feedback{
    margin-bottom: 35px;
}
p.emotion-feedback{
    margin-bottom: 40px;
}
.feedback{
    border-bottom: 1px solid rgb(204, 204, 204);
}
  
/* End SlideShow Feedback */

/* Branding */
.branding{
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 40px 20px;
}
/* End Branding */