footer {
    height: 720px;
    background-color: #222;
    text-align: center;
    .footer-head {
        height: 355px;
        &-content{
            padding: 100px 225px 50px 225px;
            border-bottom: 1px solid rgb(204, 204, 204);
            p{
                .p();
                margin-top: 30px;
                margin-bottom: 45px;
            }
            .social{
                width: 200px;
                text-align: center; 
                margin: auto;
                ul{
                    justify-content: space-between;
                    display: flex;
                    li{
                        margin-right: 5px;
                        a{
                            font-size: 18px;
                            color: @p-color;
                            &:hover{
                                color:@background-color

                            }
                        }
                    }
                }
            }
        }
    }
    .copy-right {
        height: 50px;
        background-color: #111;
        justify-content: center;
        display: flex;
        align-items: center;
        p{
            .p()
        }
    }
}
