.header {
    height               : 88vh;
    background-image     : url('/assets/images/banner.jpg');
    background-attachment: fixed;
    background-repeat    : no-repeat;
    margin               : auto;
    background-size: cover;

}




/* End Header */