@font-face {
    font-family: PoppinsRegular;
    src: url(/assets/fonts/Poppins-Regular.ttf)
}

@font-face {
    font-family: PoppinsBold;
    src: url(/assets/fonts/Poppins-Bold.ttf) 
}

* {
    margin: 0;
}

ul {
    display: flex;
}
h1{
    font-family: PoppinsBold;
    font-size: 36px;
}
h3 {
    font-family: PoppinsBold;
    font-size: 18px;
}
a{
    text-decoration: none;
}
p {
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 1.714;
    font-family: PoppinsRegular;
}