*{
    margin: 0;
    font-family: 'Poppins';
}
/* Header */
.header-top{
    width: 100%;
    height: 95vh;
    background-image: url('../images/banner.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.navbar{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);  
    position: fixed; 
    padding: 15px 262px ;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
}
h3{

}
p{
    font-size: 14px;
    color: rgb(119, 119, 119);
    line-height: 1.714; 
}
li>a{
    text-decoration: none; 
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.navbar .nav-center>ul>li{

    line-height: 1.75;
    text-align: center;  
    margin-right: 20px;
}
.navbar .nav-center>ul>li>a:hover{
    color: rgb(221, 47, 49); 
}
.navbar .nav-right>ul>li{
    line-height: 1.2;
    margin-right: 20px;
    text-align: right;
}
/* End Header */

.main-content{
    padding: 0 262px;
}


/* Fact */
.row-fact{
    height: 53vh;
    display: -ms-flexbox; 
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    align-items: center;
    transform: translateY(-20%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.row-fact .col-fact{
    -ms-flex: 33%; 
    flex: 33%;
    text-align: center;
}
.row-fact .col-fact .content-fact {
    height: 26.5vh;
    transform: translateY(10%);
}
/* .row-fact .col-fact>img:hover{
    
} */

/* End Fact */

